html {
    font-family: Arial, Helvetica, sans-serif
}

/* File/dir list items */
.file_list_item {
    list-style-type: none;
    margin-bottom: 1.5vh
}

/* Headers */
.header {
    font-size: 25px;
    margin-left: 1.5vw;
    margin-top: 1.5vw;
    font-weight: bold;
}

.header_not_clickable:hover {
    text-decoration: none;
}

.header_clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* A tags */
.htmlA_clickable {
    font-size: 18px;
    margin-left: 1.5vw
}

.htmlA_clickable:hover {
    cursor: pointer;
    font-weight: bold;
}

/* Buttons */
.htmlA_button {
    background-color: #DADAFF;
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
    user-select: none
}

.htmlA_button:hover {
    cursor: pointer
}

.htmlA_button:active {
    background-color: white
}